build/
captures/
bin/
gen/
proguard/
app/build/
.idea/libraries/
.idea/tasks.xml
.idea/workspace.xml
.gradle
.classpath
.project
*.apk
*.ap_
*.dex
*.class
*.iml
*.ipr
*.iws
.DS_Store
local.properties
app/mapping.txt
